@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Oswald:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Lora:400,700);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,700);





body,
input,
textarea,
.mbr-company .list-group-text {
  font-family: 'Oswald', sans-serif;
}
.mbr-footer-content li,
.mbr-footer .mbr-contacts li {
  font-family: 'Oswald', sans-serif;
}
.btn,
.alert,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.display-1,
.display-2,
.display-3,
.display-4,
.mbr-figure .mbr-figure-caption,
.mbr-gallery-title,
.mbr-map [data-state-details],
.mbr-price {
  font-family: 'Roboto Condensed', sans-serif;
}
.mbr-footer-content h1,
.mbr-footer .mbr-contacts h1,
.mbr-footer-content h2,
.mbr-footer .mbr-contacts h2,
.mbr-footer-content h3,
.mbr-footer .mbr-contacts h3,
.mbr-footer-content h4,
.mbr-footer .mbr-contacts h4,
.mbr-footer-content p strong,
.mbr-footer .mbr-contacts p strong,
.mbr-footer-content strong,
.mbr-footer .mbr-contacts strong {
  font-family: 'Roboto Condensed', sans-serif;
}
.btn-sm,
.lead a,
.lead blockquote,
.mbr-section-subtitle,
.mbr-section-hero .mbr-section-lead,
.mbr-cards .card-subtitle,
.mbr-testimonial .card-block {
  font-family: 'Roboto Condensed', sans-serif;
  font-style: normal;
}
.mbr-author-name {
  font-family: 'Roboto Condensed', sans-serif;
}
.mbr-author-desc {
  font-family: 'Roboto Condensed', sans-serif;
  font-style: normal;
}
.mbr-plan-title {
  font-family: 'Roboto Condensed', sans-serif;
}
.mbr-plan-subtitle,
.mbr-plan-price-desc {
  font-family: 'Roboto Condensed', sans-serif;
  font-style: normal;
}
.bg-primary {
  background-color: #efefef !important;
}
.bg-success {
  background-color: #efefef !important;
}
.bg-info {
  background-color: #efefef !important;
}
.bg-warning {
  background-color: #efefef !important;
}
.bg-danger {
  background-color: #efefef !important;
}
.btn-primary {
  background-color: #efefef;
  border-color: #efefef;
  color: #ffffff;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active {
  color: #ffffff;
  background-color: #c9c9c9;
  border-color: #c9c9c9;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #c9c9c9 !important;
  border-color: #c9c9c9 !important;
}
.btn-secondary {
  background-color: #efefef;
  border-color: #efefef;
  color: #ffffff;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary:active,
.btn-secondary.active {
  color: #ffffff;
  background-color: #c9c9c9;
  border-color: #c9c9c9;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #c9c9c9 !important;
  border-color: #c9c9c9 !important;
}
.btn-info {
  background-color: #efefef;
  border-color: #efefef;
  color: #ffffff;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info:active,
.btn-info.active {
  color: #ffffff;
  background-color: #c9c9c9;
  border-color: #c9c9c9;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #c9c9c9 !important;
  border-color: #c9c9c9 !important;
}
.btn-success {
  background-color: #efefef;
  border-color: #efefef;
  color: #ffffff;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success:active,
.btn-success.active {
  color: #ffffff;
  background-color: #c9c9c9;
  border-color: #c9c9c9;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #c9c9c9 !important;
  border-color: #c9c9c9 !important;
}
.btn-warning {
  background-color: #efefef;
  border-color: #efefef;
  color: #ffffff;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning:active,
.btn-warning.active {
  color: #ffffff;
  background-color: #c9c9c9;
  border-color: #c9c9c9;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #c9c9c9 !important;
  border-color: #c9c9c9 !important;
}
.btn-danger {
  background-color: #efefef;
  border-color: #efefef;
  color: #ffffff;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger:active,
.btn-danger.active {
  color: #ffffff;
  background-color: #c9c9c9;
  border-color: #c9c9c9;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #c9c9c9 !important;
  border-color: #c9c9c9 !important;
}
.btn-primary-outline {
  background: none;
  border-color: #bcbcbc;
  color: #bcbcbc;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline:active,
.btn-primary-outline.active {
  color: #ffffff;
  background-color: #efefef;
  border-color: #efefef;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #efefef !important;
  border-color: #efefef !important;
}
.btn-secondary-outline {
  background: none;
  border-color: #bcbcbc;
  color: #bcbcbc;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline:active,
.btn-secondary-outline.active {
  color: #ffffff;
  background-color: #efefef;
  border-color: #efefef;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #efefef !important;
  border-color: #efefef !important;
}
.btn-info-outline {
  background: none;
  border-color: #bcbcbc;
  color: #bcbcbc;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline:active,
.btn-info-outline.active {
  color: #ffffff;
  background-color: #efefef;
  border-color: #efefef;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #efefef !important;
  border-color: #efefef !important;
}
.btn-success-outline {
  background: none;
  border-color: #bcbcbc;
  color: #bcbcbc;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline:active,
.btn-success-outline.active {
  color: #ffffff;
  background-color: #efefef;
  border-color: #efefef;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #efefef !important;
  border-color: #efefef !important;
}
.btn-warning-outline {
  background: none;
  border-color: #bcbcbc;
  color: #bcbcbc;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline:active,
.btn-warning-outline.active {
  color: #ffffff;
  background-color: #efefef;
  border-color: #efefef;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #efefef !important;
  border-color: #efefef !important;
}
.btn-danger-outline {
  background: none;
  border-color: #bcbcbc;
  color: #bcbcbc;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline:active,
.btn-danger-outline.active {
  color: #ffffff;
  background-color: #efefef;
  border-color: #efefef;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #efefef !important;
  border-color: #efefef !important;
}
.text-primary {
  color: #efefef !important;
}
.text-success {
  color: #efefef !important;
}
.text-info {
  color: #efefef !important;
}
.text-warning {
  color: #efefef !important;
}
.text-danger {
  color: #efefef !important;
}
.alert-success {
  background-color: #efefef;
}
.alert-info {
  background-color: #efefef;
}
.alert-warning {
  background-color: #efefef;
}
.alert-danger {
  background-color: #efefef;
}
.btn-social {
  border-color: #efefef;
}
.btn-social:hover {
  background: #efefef;
}
.mbr-company .list-group-item.active .list-group-text {
  color: #efefef;
}
.mbr-footer p a,
.mbr-footer ul a {
  color: #efefef;
}
.mbr-footer-content li::before,
.mbr-footer .mbr-contacts li::before {
  background: #efefef;
}
.mbr-footer-content li a:hover,
.mbr-footer .mbr-contacts li a:hover {
  color: #efefef;
}
.lead a,
.lead a:hover {
  color: #efefef;
}
.lead blockquote {
  border-color: #efefef;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-small-footer a,
.mbr-gallery-filter li:hover {
  color: #efefef;
}
.scrollToTop_wraper {
  opacity: 0 !important;
}
#header1-8 .mbr-section-title {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 60px;
  color: #cccccc;
  text-align: left;
}
#header1-8 .btn {
  font-family: 'Oswald', sans-serif;
  font-size: 12px;
}


#msg-box4-s H3 {
  color: #efefef;
  text-align: center;
}
#content1-1a P {
  color: #efefef;
}
#msg-box4-t H3 {
  color: #efefef;
}
#ext_menu-17 .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-17 .navbar-caption {
  color: #ffffff;
  font-family: 'Oswald', sans-serif;
}
#ext_menu-17 .navbar-toggler {
  color: #efefef;
}
#ext_menu-17 .close-icon::before,
#ext_menu-17 .close-icon::after {
  background-color: #efefef;
}
#ext_menu-17 .link,
#ext_menu-17 .dropdown-item {
  color: #efefef;
  font-family: 'Oswald', sans-serif;
}
#ext_menu-17 .link {
  font-size: 1rem;
}
#ext_menu-17 .dropdown-item,
#ext_menu-17 .nav-dropdown-sm .link {
  font-size: 1.083rem;
}
#ext_menu-17 .link:hover,
#ext_menu-17 .dropdown-item:hover,
#ext_menu-17 .link:focus,
#ext_menu-17 .dropdown-item:focus {
  color: #efefef;
}
#ext_menu-17 .link[aria-expanded="true"],
#ext_menu-17 .dropdown-menu {
  background: #000000;
}
#ext_menu-17 .nav-dropdown-sm .link:focus,
#ext_menu-17 .nav-dropdown-sm .link:hover,
#ext_menu-17 .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-17 .nav-dropdown-sm .dropdown-item:hover {
  background: #101010!important;
}
#ext_menu-17 .navbar,
#ext_menu-17 .nav-dropdown-sm,
#ext_menu-17 .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-17 .nav-dropdown-sm .dropdown-menu {
  background: #181818;
}
#ext_menu-17 .bg-color.transparent .link {
  color: #efefef;
  transition: none;
}
#ext_menu-17 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-17 .bg-color.transparent.opened .link:hover,
#ext_menu-17 .bg-color.transparent.opened .link:focus {
  color: #efefef;
}
#ext_menu-17 .link[aria-expanded="true"],
#ext_menu-17 .dropdown-item[aria-expanded="true"] {
  color: #000000!important;
}


#header1-y .mbr-section-title {
  font-family: 'Oswald', sans-serif;
  font-size: 48px;
}
#header1-y .btn {
  font-family: 'Oswald', sans-serif;
  font-size: 12px;
}




#header1-z .mbr-section-title {
  font-family: 'Oswald', sans-serif;
  font-size: 48px;
  text-align: left;
  color: #efefef;
}
#header1-z .btn {
  font-size: 12px;
  font-family: 'Oswald', sans-serif;
}
#header1-z .mbr-section-lead {
  font-size: 13px;
  text-align: left;
  font-family: 'Lora', serif;
  color: #efefef;
}
#header1-z .mbr-section-lead SPAN {
  font-family: 'Lora', serif;
}



#form1-1c .form-control-label {
  color: #efefef;
}
#form1-1c .mbr-section-title {
  color: #efefef;
  font-family: 'Oswald', sans-serif;
  font-size: 36px;
}
#ext_menu-17 .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-17 .navbar-caption {
  color: #ffffff;
  font-family: 'Oswald', sans-serif;
}
#ext_menu-17 .navbar-toggler {
  color: #efefef;
}
#ext_menu-17 .close-icon::before,
#ext_menu-17 .close-icon::after {
  background-color: #efefef;
}
#ext_menu-17 .link,
#ext_menu-17 .dropdown-item {
  color: #efefef;
  font-family: 'Oswald', sans-serif;
}
#ext_menu-17 .link {
  font-size: 1rem;
}
#ext_menu-17 .dropdown-item,
#ext_menu-17 .nav-dropdown-sm .link {
  font-size: 1.083rem;
}
#ext_menu-17 .link:hover,
#ext_menu-17 .dropdown-item:hover,
#ext_menu-17 .link:focus,
#ext_menu-17 .dropdown-item:focus {
  color: #efefef;
}
#ext_menu-17 .link[aria-expanded="true"],
#ext_menu-17 .dropdown-menu {
  background: #000000;
}
#ext_menu-17 .nav-dropdown-sm .link:focus,
#ext_menu-17 .nav-dropdown-sm .link:hover,
#ext_menu-17 .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-17 .nav-dropdown-sm .dropdown-item:hover {
  background: #101010!important;
}
#ext_menu-17 .navbar,
#ext_menu-17 .nav-dropdown-sm,
#ext_menu-17 .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-17 .nav-dropdown-sm .dropdown-menu {
  background: #181818;
}
#ext_menu-17 .bg-color.transparent .link {
  color: #efefef;
  transition: none;
}
#ext_menu-17 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-17 .bg-color.transparent.opened .link:hover,
#ext_menu-17 .bg-color.transparent.opened .link:focus {
  color: #efefef;
}
#ext_menu-17 .link[aria-expanded="true"],
#ext_menu-17 .dropdown-item[aria-expanded="true"] {
  color: #000000!important;
}





#gallery4-1f LI {
  color: #979797;
  font-family: 'Oswald', sans-serif;
  text-align: center;
}
#gallery4-1f .mbr-gallery-item > div > span {
  font-size: 10px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}
#header3-1g .mbr-section-title,
#header3-1g .mbr-section-subtitle {
  text-align: center;
}
#header3-1g SMALL {
  color: #cccccc;
}
#header3-1g H3 {
  color: #efefef;
  font-family: 'Oswald', sans-serif;
}
#msg-box4-1h H3 {
  text-align: left;
  color: #ffffff;
  font-size: 46px;
}
#msg-box4-1h .btn {
  font-size: 12px;
}
#features4-1i .card-subtitle {
  color: #bcbcbc;
}
#features4-1i .iconbox {
  background-color: #181818;
  border-color: #181818;
}
#ext_menu-1j .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-1j .navbar-caption {
  color: #ffffff;
  font-family: 'Oswald', sans-serif;
}
#ext_menu-1j .navbar-toggler {
  color: #efefef;
}
#ext_menu-1j .close-icon::before,
#ext_menu-1j .close-icon::after {
  background-color: #efefef;
}
#ext_menu-1j .link,
#ext_menu-1j .dropdown-item {
  color: #efefef;
  font-family: 'Oswald', sans-serif;
}
#ext_menu-1j .link {
  font-size: 1rem;
}
#ext_menu-1j .dropdown-item,
#ext_menu-1j .nav-dropdown-sm .link {
  font-size: 1.083rem;
}
#ext_menu-1j .link:hover,
#ext_menu-1j .dropdown-item:hover,
#ext_menu-1j .link:focus,
#ext_menu-1j .dropdown-item:focus {
  color: #efefef;
}
#ext_menu-1j .link[aria-expanded="true"],
#ext_menu-1j .dropdown-menu {
  background: #000000;
}
#ext_menu-1j .nav-dropdown-sm .link:focus,
#ext_menu-1j .nav-dropdown-sm .link:hover,
#ext_menu-1j .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-1j .nav-dropdown-sm .dropdown-item:hover {
  background: #101010!important;
}
#ext_menu-1j .navbar,
#ext_menu-1j .nav-dropdown-sm,
#ext_menu-1j .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-1j .nav-dropdown-sm .dropdown-menu {
  background: #181818;
}
#ext_menu-1j .bg-color.transparent .link {
  color: #efefef;
  transition: none;
}
#ext_menu-1j .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-1j .bg-color.transparent.opened .link:hover,
#ext_menu-1j .bg-color.transparent.opened .link:focus {
  color: #efefef;
}
#ext_menu-1j .link[aria-expanded="true"],
#ext_menu-1j .dropdown-item[aria-expanded="true"] {
  color: #000000!important;
}


#ext_menu-1r .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-1r .navbar-caption {
  color: #ffffff;
  font-family: 'Oswald', sans-serif;
}
#ext_menu-1r .navbar-toggler {
  color: #efefef;
}
#ext_menu-1r .close-icon::before,
#ext_menu-1r .close-icon::after {
  background-color: #efefef;
}
#ext_menu-1r .link,
#ext_menu-1r .dropdown-item {
  color: #efefef;
  font-family: 'Oswald', sans-serif;
}
#ext_menu-1r .link {
  font-size: 1rem;
}
#ext_menu-1r .dropdown-item,
#ext_menu-1r .nav-dropdown-sm .link {
  font-size: 1.083rem;
}
#ext_menu-1r .link:hover,
#ext_menu-1r .dropdown-item:hover,
#ext_menu-1r .link:focus,
#ext_menu-1r .dropdown-item:focus {
  color: #efefef;
}
#ext_menu-1r .link[aria-expanded="true"],
#ext_menu-1r .dropdown-menu {
  background: #000000;
}
#ext_menu-1r .nav-dropdown-sm .link:focus,
#ext_menu-1r .nav-dropdown-sm .link:hover,
#ext_menu-1r .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-1r .nav-dropdown-sm .dropdown-item:hover {
  background: #101010!important;
}
#ext_menu-1r .navbar,
#ext_menu-1r .nav-dropdown-sm,
#ext_menu-1r .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-1r .nav-dropdown-sm .dropdown-menu {
  background: #181818;
}
#ext_menu-1r .bg-color.transparent .link {
  color: #efefef;
  transition: none;
}
#ext_menu-1r .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-1r .bg-color.transparent.opened .link:hover,
#ext_menu-1r .bg-color.transparent.opened .link:focus {
  color: #efefef;
}
#ext_menu-1r .link[aria-expanded="true"],
#ext_menu-1r .dropdown-item[aria-expanded="true"] {
  color: #000000!important;
}
